<a href="https://colab.research.google.com/github/Nargis45/feature_engineering/blob/main/Ordinal_number_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ordinal number encoding**

In [1]:
import datetime

In [2]:
today_date=datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2022, 10, 29, 16, 54, 8, 254666)

In [4]:
today_date-datetime.timedelta(3)

datetime.datetime(2022, 10, 26, 16, 54, 8, 254666)

In [7]:
#list comprehension to get 15 different contionuous date
days=[today_date-datetime.timedelta(x) for x in range(0, 15)]

In [10]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=['Day']

In [11]:
data.head()

                         Day
0 2022-10-29 16:54:08.254666
1 2022-10-28 16:54:08.254666
2 2022-10-27 16:54:08.254666
3 2022-10-26 16:54:08.254666
4 2022-10-25 16:54:08.254666

In [17]:
data['weekday']=data['Day'].dt.day_name()
data.head()

                         Day    weekday
0 2022-10-29 16:54:08.254666   Saturday
1 2022-10-28 16:54:08.254666     Friday
2 2022-10-27 16:54:08.254666   Thursday
3 2022-10-26 16:54:08.254666  Wednesday
4 2022-10-25 16:54:08.254666    Tuesday

In [18]:
dictionary={
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

In [19]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [21]:
data['weekday_ordinal']=data['weekday'].map(dictionary)

In [22]:
data

                          Day    weekday  weekday_ordinal
0  2022-10-29 16:54:08.254666   Saturday                6
1  2022-10-28 16:54:08.254666     Friday                5
2  2022-10-27 16:54:08.254666   Thursday                4
3  2022-10-26 16:54:08.254666  Wednesday                3
4  2022-10-25 16:54:08.254666    Tuesday                2
5  2022-10-24 16:54:08.254666     Monday                1
6  2022-10-23 16:54:08.254666     Sunday                7
7  2022-10-22 16:54:08.254666   Saturday                6
8  2022-10-21 16:54:08.254666     Friday                5
9  2022-10-20 16:54:08.254666   Thursday                4
10 2022-10-19 16:54:08.254666  Wednesday                3
11 2022-10-18 16:54:08.254666    Tuesday                2
12 2022-10-17 16:54:08.254666     Monday                1
13 2022-10-16 16:54:08.254666     Sunday                7
14 2022-10-15 16:54:08.254666   Saturday                6