<a href="https://colab.research.google.com/github/Nargis45/feature_engineering/blob/main/Probability_ratio_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#mounting the drive to import the file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic_train.csv',usecols=['Cabin','Survived'])

In [4]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [6]:
# replacing nan
df['Cabin'].fillna('Missing', inplace=True)

In [7]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [8]:
df['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [9]:
#extracting first charater of categorical variables of cabin
df['Cabin']=df['Cabin'].astype(str).str[0]

In [10]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [11]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

# **Probability ratio encoding**

Step1: probability of survived based on cabin

Step2: probability of not survived

Step3: prob(survived)/prob(not survived)

Step4: dictionary to map cabin with probability

Step5: replace with the categorical fature

In [13]:
prob_df=df.groupby(['Cabin'])['Survived'].mean()

In [15]:
prob_df=pd.DataFrame(prob_df)
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [16]:
#prob. person has died
prob_df['died']=1-prob_df['Survived']

In [17]:
prob_df

       Survived      died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [18]:
#prob. ratio encoding
prob_df['prob_ratio']=prob_df['Survived']/prob_df['died']

In [19]:
prob_df

       Survived      died  prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000
F      0.615385  0.384615    1.600000
G      0.500000  0.500000    1.000000
M      0.299854  0.700146    0.428274
T      0.000000  1.000000    0.000000

In [21]:
prob_encoded=prob_df['prob_ratio'].to_dict()

In [22]:
df['Cabin_encoded']=df['Cabin'].map(prob_encoded)

In [24]:
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274