<a href="https://colab.research.google.com/github/Nargis45/feature_engineering/blob/main/Target_Guided_Ordinal_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Target Guided Ordinal Encoding**

ordering the labels according to the target

replace the labels by the joint probability of being 1 or 0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic_train.csv', usecols=['Cabin','Survived'])

In [5]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [6]:
df['Cabin'].fillna('Missing', inplace=True)

In [8]:
df.head(10)

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing
5         0  Missing
6         0      E46
7         0  Missing
8         1  Missing
9         1  Missing

In [10]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [11]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [12]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [13]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [14]:
df.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [17]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [18]:
ordinal_label=df.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [19]:
ordinal_label

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [24]:
ordinal_label2={k:i for i,k in enumerate(ordinal_label, 0)}

In [25]:
ordinal_label2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [26]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_label2)

In [28]:
#highest rank is assigned to the cabin having higher prob. of surviving
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1